<form [formGroup]="form">
  <div class="space-content">
    <label for="principalLoanAmount">Principal loan amount</label>
    <input
      id="principalLoanAmount"
      type="number"
      inputmode="numeric"
      formControlName="principalLoanAmount"
      required>
  </div>

  <div class="space-content">
    <label for="interestRate">Interest rate</label>
    <input
      id="interestRate"
      type="number"
      inputmode="decimal"
      formControlName="interestRate"
      required> <span> %</span>
  </div>

  <div class="space-content">
    <label for="lengthLoan">Length loan</label>
    <input
      id="lengthLoan"
      type="number"
      inputmode="numeric"
      formControlName="lengthLoan"
      required> <span> Years</span>
  </div>

  <button (click)="calculate()" class="space-content">Calculate</button>
</form>

<p *ngIf="showMessage">Your monthly mortgage payment will be {{monthlyMortgage}}</p>

